:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  /* --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); */


  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}


.intro {
  width: 100%;
  padding: 0 8%;
  /* margin-left: 20%; */
  font-size: 22px;
  text-align: center;
}


.filter {
  width: 100%;
  position: relative;
  height: 50px;
  padding-top: 12px;
  gap: 26%;
  border: 1px solid #ccc;
  display: flex;
  /* margin: 0% -20px; */
  justify-content: space-evenly;
}

.left {
  display: flex;
  gap: 13rem;
  justify-content: space-between;
}

.rotate180 {
  transform: rotate(90deg);
}


    .tour__card{
  text-decoration: none;
  &:hover {   
    transform: scale(1.01);
}
}

.tour__img img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card{
  border: none;
  box-shadow: rgb(0, 0 , 0, 0.2) 0px 18px 50px --10px;

}

.tour__img{
  position: relative;
}

.tour__img span{
  position:absolute; ;
  bottom: 0;
  right: 0;
  width:max-content;
  height:max-content;
  z-index: 10;
  background: var(--primary-color);
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 3px 0 0 0;
}

.card__top span i{
  color:var(--secondary-color)
}

.tour__rating{
  font-size: 0.9rem;
  color: var(--text-color);
}
.tour__location{
  color: var(--heading-color);
  font-weight: 500;
  font-size: .9rem;
}

.tour__rating i, 
.tour__location i{
  font-size: 1rem;
}

.tour__title{
  margin-top:1rem;
  font-size: 1.1rem;
}

.tour__title a{
  /* text-decoration: none; */
  color: var(--heading-color );
  transition: .3s;
}
.tour__title a:hover{
  color: var(--secondary-color);
}

.card__bottom  h5{
  color: var(--secondary-color);
  font-size: 1.1rem;
  font-weight: 700;
}

.card__bottom h5 span{
  font-weight: 500;
  color: var(--text-color);
  font-size: 0.8rem;
}

.booking__btn{
  background: var(--secondary-color);
  cursor: pointer;
  padding: 0.2rem 0.5rem !important;
}

.booking__btn a{
  text-decoration: none;
  background: var(--primary-color);
  font-size: .9rem;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  border-radius: 3px 3px 3px 3px;
}

.booking__btn a:hover{
  background:  #43a82a;
  color: #ffffff;
}